/** Highlighting Text Color - CSS **/
<!-- HTML -->

::selection, ::-moz-selection {color: white; background: #F5DA81;}

a:hover {
	text-shadow: orange 0 0 3px;
        color: #FFFFFF !important;
	text-decoration:gold;
	-webkit-transition: all .4s linear 0s;
	-moz-transition: all .4s linear 0s;
	-ms-transition: all .4s linear 0s;
	-o-transition: all .4s linear 0s;
	transition: all .4s linear 0s;
}
